* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: url('https://i.postimg.cc/x8kFhM37/kawaii-cute.gif') no-repeat center center/cover fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center,
        rgba(0,0,0,0.2) 40%,
        rgba(0,0,0,0.8) 100%);
    z-index: 0;
}


.container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 85%;
    max-width: 1000px;


}


.bubble {
    padding: 35px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    background: rgba(163, 18, 221, 0.05);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(16px);
    color: #05050591;
    text-align: center;
    transition: all 0.4s ease;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}


.bubble:hover {
    transform: translateY(-12px) scale(1.03);
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 40px rgba(15, 15, 15, 0.2);
}


.bubble h2 {
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #651585;
    
    text-shadow: 
        0 0 5px rgba(255,255,255,0.6),
        0 0 10px rgba(255,255,255,0.4),
}

.bubble p {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #ffffff;

    text-shadow:
        0 0 4px rgba(255, 255, 255, 0.4)
    
}

.telegram {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 22px;
    border-radius: 50px;
    border: 1.5px solid rgba(39, 204, 255, 0.4);
    color: rgb(46, 186, 211);
    text-decoration: none;
    transition: 0.3s ease;
    background: rgba(255,255,255,0.05);
}

.telegram:hover {
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}


@media(max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    transition: 0.3s ease;
}


.bubble:hover .pfp {
    transform: scale(1.08);
    box-shadow: 0 0 30px rgba(255,255,255,0.4);
    border-color: rgba(255, 255, 255, 0.8);
}

.ascii {
        position: fixed; 
        bottom: 860px;          
        left: 790px;         
        white-space: pre;    
        font-size: 18px;
        color: #ab17d8;
}

